img {
  width: 15%;
}

.card-politici {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  border: solid #a31fa0 1px;
  padding: 1rem;
  width: 30%;
  margin: 0.5rem;
}


.card-body {
  
  .card-title {
    font-size: 25px;
  }
  
  .card-subtitle {
    font-size: 20px;
  }
  
}